.chat-page__content {
    padding: 2rem 2rem 2rem 0;
}

.chat-toolbar {
    width: 26rem;
}

.chat-search {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    height: 3.6rem;
    width: 100%;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: var(--white-10);
    border: 0.1rem solid transparent;
}

.chat-search:focus-within {
    border-color: var(--white-20);
    box-shadow: var(--shadow-soft);
}

.chat-search__icon {
    width: 1.6rem;
    height: 1.6rem;
}

.chat-search__input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-family: "AdvancedLevel Inter";
    line-height: 1;
    color: var(--color-text-primary);
}

.chat-search__input::placeholder {
    color: var(--color-text-primary);
}

.chat-filters {
    display: flex;
    align-items: center;
    margin-block: 1.5rem;
    padding-left: 0.3rem;
    position: relative;
}

.chat-toolbar__section {
    margin-left: 1rem;
}

.chat-filters__item {
    font-size: 1.2rem;
    line-height: 1;
    color: var(--color-text-primary);
    font-weight: 500;
    margin-inline: .7rem;
    margin-block: 1.3rem;
    position: relative;
    cursor: pointer;
    opacity: 0.72;
}

.chat-filters__line {
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background: var(--color-line-soft);
    left: 0;
    top: calc(100%);
}

.chat-filters__item_state_active::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background: var(--color-accent);
    left: 0;
    top: calc(100% + 1.3rem);
}

.chat-filters__item_state_active {
    color: var(--color-text-primary);
    opacity: 1;
}

.chat-empty-state {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.chat-empty-state__line {
    margin: 0;
    white-space: nowrap;
    text-shadow: 0 0.2rem 1.2rem var(--black-25);
}

.chat-page__content {
    display: flex;
    height: 100%;
}

.chat-content {
    flex: 1;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .chat-page__content {
        flex-direction: column;
        padding: 1rem 1rem 1rem 0;
    }

    .chat-toolbar {
        width: 100%;
    }

    .chat-toolbar__message {
        margin-left: 2rem;
    }
}