.feed-page__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feed-page__title {
    margin-bottom: 5rem;
}

.feed-page__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    overflow-y: auto;
}

.feed-page__row {
    display: flex;
    align-items: flex-end;
    gap: 4rem;
}

.feed-page__row-icon {
    width: 10rem;
    height: auto;
    max-height: 100%;
}

.feed-page__row-date {
    margin-bottom: 1rem;
}

.feed-page__row-text {
    padding: 1.7rem 4rem 2.2rem 1.7rem;
    background-color: #EADFD6;
    border-radius: 2rem 2rem 2rem .5rem;
    max-width: 35rem;
}