/* Inter */
@font-face {
    font-family: 'AdvancedLevel Inter';
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdvancedLevel Inter';
    src: url('../fonts/inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdvancedLevel Inter';
    src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AdvancedLevel Inter';
    src: url('../fonts/inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* PlusJakartaSans */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src:
        local('Plus Jakarta Sans Regular'),
        local('PlusJakartaSans-Regular'),
        url('../fonts/plus_jakarta_sans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src:
        local('Plus Jakarta Sans Medium'),
        local('PlusJakartaSans-Medium'),
        url('../fonts/plus_jakarta_sans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src:
        local('Plus Jakarta Sans SemiBold'),
        local('PlusJakartaSans-SemiBold'),
        url('../fonts/plus_jakarta_sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src:
        local('Plus Jakarta Sans Bold'),
        local('PlusJakartaSans-Bold'),
        url('../fonts/plus_jakarta_sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}