@import './fonts.css';


:root {
    --color-chat-surface: #E5AE99;

    --static-frame-width: 100vw;
    --static-frame-height: 100dvh;
    --static-sidebar-width: 35rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(100vw / (1920/10));
}

body {
    font-family: 'AdvancedLevel Inter', 'Segoe UI', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    border: 0;
    font: inherit;
    color: inherit;
}

.generic-body {
    min-width: var(--static-frame-width);
    min-height: var(--static-frame-height);
    background: var(--color-chat-surface);
}

.generic-canvas {
    width: var(--static-frame-width);
    min-height: var(--static-frame-height);
    margin-inline: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    position: relative;
}

.generic-list-reset {
    list-style: none;
}

.generic-button-reset {
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
}

.generic-input-reset {
    border: 0;
    background: transparent;
    outline: none;
}

@media screen and (max-width: 1512px) {
    html {
        font-size: calc(100vw / (1512/10));
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: calc(100vw / (1440/10));
    }
}