.main-page {
    padding: 3.3rem 2rem 5rem 1rem;
}

.home__wrapper {
    width: 79rem;
    max-width: 100%;
    margin: 0 auto;
}

.home__logo {
    height: 2.7rem;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto 1.8rem;
}

.home__content-title {
    font-weight: 500;
    font-size: 4.38rem;
    line-height: 4.5rem;
    color: var(--color-text-primary);
    font-family: "Plus Jakarta Sans";
    margin-bottom: 2rem;
}

.home__content-title-highlight {
    color: var(--color-accent);
}

.home__content-description {
    display: flex;
    gap: 6.2rem;
    margin-bottom: 3rem;
}

.home__content-description-part {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-text-primary);
    font-family: "Plus Jakarta Sans";

    &:first-child {
        max-width: 17.9rem;
    }

    &:last-child {
        max-width: 46.4rem;
    }
}

.home__content-button {
    width: 30rem;
    height: 6rem;
    padding: 2rem;
    background-color: var(--color-surface-panel);
    color: var(--color-accent);
    font-size: 1.9rem;
    line-height: 2rem;
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    box-shadow:
        inset 0 .3rem .3rem var(--color-accent),
        0 -.5rem 3rem var(--color-accent);
    border-radius: 2rem;
    transition: border-radius var(--transition-timing);

    &:not(:disabled):hover {
        border-radius: var(--hover-radius);
    }
}

/* Promo Cards */
.home__promo {
    min-height: 40rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 7.4rem;
}

.home__promo-card {
    position: relative;
    width: 0;
    height: 0;
}

@keyframes promo-card-1 {
    from {
        transform: translateX(-14rem) translateY(1.8rem);
    }

    to {
        transform: translateX(-28rem) translateY(3.6rem);
    }
}

@keyframes promo-card-2 {
    from {
        transform: translateX(-7rem) translateY(0.9rem);
    }

    to {
        transform: translateX(-14rem) translateY(1.8rem);
    }
}

@keyframes promo-card-4 {
    from {
        transform: translateX(7rem) translateY(-0.9rem);
    }

    to {
        transform: translateX(14rem) translateY(-1.8rem);
    }
}

@keyframes promo-card-5 {
    from {
        transform: translateX(14rem) translateY(-1.8rem);
    }

    to {
        transform: translateX(28rem) translateY(-3.6rem);
    }
}

.home__promo-card_pos_1 {
    z-index: 10;
    transform: translateX(-28rem) translateY(3.6rem);
    animation: promo-card-1 1.4s ease-in-out backwards;
}

.home__promo-card_pos_2 {
    z-index: 9;
    transform: translateX(-14rem) translateY(1.8rem);
    animation: promo-card-2 1.4s ease-in-out backwards;
}

.home__promo-card_pos_3 {
    z-index: 8;
    transform: none;
}

.home__promo-card_pos_4 {
    z-index: 7;
    transform: translateX(14rem) translateY(-1.8rem);
    animation: promo-card-4 1.4s ease-in-out backwards;
}

.home__promo-card_pos_5 {
    z-index: 6;
    transform: translateX(28rem) translateY(-3.6rem);
    animation: promo-card-5 1.4s ease-in-out backwards;
}

.home__promo-wrapper {
    aspect-ratio: 2/3;
    border-radius: .9375rem;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    overflow: hidden;
    transform: skewY(6deg);
    container: promo / size;
    height: 30rem;
    width: 20rem;
    left: -10rem;
    top: -15rem;
}

.home__promo-image {
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home__promo-fill {
    z-index: 2;
    background: radial-gradient(82.64% 62.17% at 5.82% 100%, #000 0%, transparent 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset -0.2rem 0.2rem 0.4rem rgba(255, 255, 255, 0.3);
}

.home__promo-lower {
    z-index: 3;
    flex-wrap: nowrap;
    align-self: flex-end;
    align-items: flex-end;
    padding: 6.66cqw;
    display: flex;
}

.home__promo-title {
    font-size: 8cqh;
    line-height: 85%;
    margin: 0;
    color: var(--color-text-primary);
    font-family: Gramatika, "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

.home__promo-price-wrap {
    background: var(--color-surface-panel);
    border-radius: 33.33cqw;
    min-width: 40cqw;
    padding: 4cqw 6.66cqw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__promo-gift-text {
    font-size: 2.66cqh;
    font-weight: 600;
    line-height: 80%;
    color: white;
    margin: 0;
}

.home__promo-price {
    color: var(--color-accent);
    margin-top: 1.33cqh;
    font-family: Gramatika, "Plus Jakarta Sans", sans-serif;
    font-size: 7.77cqh;
    font-weight: 700;
    line-height: 80%;
    margin-bottom: 0;
}

.home__promo-price_green {
    color: #000;
    background: radial-gradient(88.29% 85.98% at 59.91% 104.69%, #37cc00 0%, #71eb44 100%);
    border: 0.05rem solid #fff;
    border-radius: 33.33cqw;
    min-width: 40cqw;
    padding: 6.66cqw;
    font-family: Gramatika, "Plus Jakarta Sans", sans-serif;
    font-size: 6cqh;
    font-weight: 700;
    line-height: 80%;
    margin: 0;
    margin-left: 1rem;
}


@media screen and (max-width: 1200px) {
    .main-page {
        padding: 1rem 1rem 5rem;
    }

    .home__content-description {
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .home__content-description-part:first-child {
            max-width: 100%;
        }

        .home__content-description-part:last-child {
            max-width: 100%;
        }
    }

    .home__content-button {
        width: 100%;
    }

    .home__promo {
        min-height: 27rem;
        margin-bottom: 4rem;
        justify-content: flex-start;
    }

    .home__promo-wrapper {
        height: 20rem;
        width: 13.333rem;
        left: 12rem;
        top: -10rem;
    }

    @keyframes promo-card-sm-1 {
        from {
            transform: translateX(-24rem) translateY(2.8rem);
        }

        to {
            transform: translateX(-12rem) translateY(1.4rem);
        }
    }

    @keyframes promo-card-sm-2 {
        from {
            transform: translateX(-12rem) translateY(1.4rem);
        }

        to {
            transform: translateX(-6rem) translateY(0.7rem);
        }
    }

    @keyframes promo-card-sm-4 {
        from {
            transform: translateX(12rem) translateY(-1.4rem);
        }

        to {
            transform: translateX(6rem) translateY(-0.7rem);
        }
    }

    @keyframes promo-card-sm-5 {
        from {
            transform: translateX(24rem) translateY(-2.8rem);
        }

        to {
            transform: translateX(12rem) translateY(-1.4rem);
        }
    }

    .home__promo-card_pos_1 {
        transform: translateX(-12rem) translateY(1.4rem);
        animation: promo-card-sm-1 1.4s ease-in-out backwards;
    }

    .home__promo-card_pos_2 {
        transform: translateX(-6rem) translateY(0.7rem);
        animation: promo-card-sm-2 1.4s ease-in-out backwards;
    }

    .home__promo-card_pos_3 {
        transform: none;
    }

    .home__promo-card_pos_4 {
        transform: translateX(6rem) translateY(-0.7rem);
        animation: promo-card-sm-4 1.4s ease-in-out backwards;
    }

    .home__promo-card_pos_5 {
        transform: translateX(12rem) translateY(-1.4rem);
        animation: promo-card-sm-5 1.4s ease-in-out backwards;
    }
}