.main-page {
    padding: 3.3rem 2rem 2rem 1rem;
}

.home__wrapper {
    width: 79rem;
    max-width: 100%;
    margin: 0 auto;
}

.home__logo {
    height: 2.7rem;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto 1.8rem;
}


.home__carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    gap: 1.5rem;
    margin-bottom: 7.4rem;
}

.home__carousel-item {
    width: 21.1rem;
    height: 30rem;
    border-radius: 1.5rem;
    overflow: hidden;
    /* transform: rotate3d(1, 1, 1, 45deg); */
}

.home__carousel-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.home__content-title {
    font-weight: 500;
    font-size: 4.38rem;
    line-height: 4.5rem;
    color: var(--color-text-primary);
    font-family: "Plus Jakarta Sans";
    margin-bottom: 2rem;
}

.home__content-title-highlight {
    color: var(--color-accent);
}

.home__content-description {
    display: flex;
    gap: 6.2rem;
    margin-bottom: 3rem;
}

.home__content-description-part {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-text-primary);
    font-family: "Plus Jakarta Sans";

    &:first-child {
        max-width: 17.9rem;
    }

    &:last-child {
        max-width: 46.4rem;
    }
}

.home__content-button {
    width: 30rem;
    height: 6rem;
    padding: 2rem;
    background-color: var(--color-surface-panel);
    color: var(--color-accent);
    font-size: 1.9rem;
    line-height: 2rem;
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    box-shadow:
        inset 0 .3rem .3rem var(--color-accent),
        0 -.5rem 3rem var(--color-accent);
    border-radius: 2rem;
}