.lots-page__content {
    overflow-y: auto;
}

.lots-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.lots-page__title {
    color: var(--color-accent);
}

.lots-page__reorder-button {
    display: flex;
    align-items: center;
    gap: .8rem;
    cursor: pointer;
}


.lots-page__reorder-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.lots-page__reorder-text {
    color: var(--color-accent);
}

.lots-page__box {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.lots-page__box-item {
    border-radius: 1.5rem;
    width: 24.4rem;
    height: 25.5rem;
}

.lots-page__create {
    background-color: var(--color-surface-panel);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.lots-page__create-figure {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0 0 10rem var(--color-accent);
}

.lots-page__create-image {
    width: 4rem;
    height: 4rem;
}

.lots-page__create-text {
    color: var(--color-text-primary);
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
}

.lots-page__lot-item {
    background-color: var(--color-surface-panel);
    padding: 1.5rem 1.7rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.lots-page__lot-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.lots-page__lot-image {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
}

.lots-page__lot-link-icon {
    width: 2.8rem;
    height: 2.8rem;
}

.lots-page__lot-bottom {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.lots-page__lot-type {
    padding: .7rem 1rem;
    background-color: var(--color-accent);
    color: var(--color-surface-panel-muted);
    border-radius: 2rem;
    font-size: 1.43rem;
    font-family: "Plus Jakarta Sans";
    line-height: 1.5rem;
    letter-spacing: 0;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
}

.background_blue_gradieent {
    background-image: linear-gradient(to right, var(--color-highlight-blue), var(--color-highlight-green));
    color: var(--white-100);
}

.background_yellow_gradieent {
    background-image: linear-gradient(to right, var(--color-highlight-yellow), var(--color-highlight-blue));
    color: var(--white-100);
}

.lots-page__lot-title {
    width: 100%;
    margin-bottom: .4rem;
    align-self: flex-start;
    color: var(--color-text-primary);
}

.lots-page__lot-description {
    width: 100%;
    align-self: flex-start;
    color: var(--color-text-primary);
    white-space: normal;
    word-break: break-word;
}

.lots-page__lot-path {
    width: 100%;
    align-self: flex-start;
    color: var(--color-text-primary);
    font-size: 1.5rem;
    line-height: 1.8rem;
    white-space: normal;
    word-break: break-word;
}

.lots-page__lot-price {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--color-accent);
    position: relative;
}

.lots-page__lot-price+.lots-page__lot-price::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.1rem;
    background: var(--black-20);
    top: 0;
    left: -0.8rem;
}

.lots-page__lot-price-box {
    display: flex;
    align-items: center;
    align-self: flex-end;
    column-gap: 1.7rem;
}