.page__sidebar {
    position: relative;
    width: var(--static-sidebar-width);
    flex: 0 0 var(--static-sidebar-width);
    backdrop-filter: blur(1rem) opacity(0.9);
}

.navigation {
    padding-inline: 2.5rem;
    padding-block: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.navigation>.generic-list-reset {
    width: 100%;
    margin-block: auto;
}

.navigation__item+.navigation__item {
    margin-top: 1rem;
}

.navigation__link {
    display: inline-block;
    text-decoration: none;
    font-size: 3.4rem;
    font-weight: 550;
    letter-spacing: 0;
    font-family: 'Plus Jakarta Sans';
    color: var(--color-text-primary);
}

button.navigation__link {
    appearance: none;
    text-align: left;
}

.navigation__item_group_1 .navigation__link {
    color: var(--color-text-primary);
}

.navigation__item_group_2 .navigation__link {
    color: var(--color-text-muted);
    opacity: 0.4;
}

.navigation__item_group_2:hover .navigation__link {
    opacity: 1;
}

.navigation__link,
.navigation__link:visited {
    color: inherit;
}

.navigation__link.navigation__link_state_active {
    color: var(--color-accent);
    opacity: 1;
}

.navigation__link:hover {
    color: var(--color-accent);
}

.page__workspace {
    position: relative;
    width: calc(var(--static-frame-width) - var(--static-sidebar-width));
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.navigation__divider {
    height: 2rem;
}

.page__logo {
    height: 1.9rem;
}

.page__droplet-icon {
    width: 2.1rem;
    height: 2.8rem;
}

.page__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 9999;
    padding: 1.6rem 2.7rem;
    display: flex;
    justify-content: space-between;
}

.page__content {
    padding: 6rem 2rem 8rem 15rem;
}

.page {
    position: relative;
    width: var(--static-frame-width);
    height: 100%;
    display: flex;
    overflow: hidden;
}

.small-canvas__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
    height: 6rem;
}

.small-canvas__header-menu-button {
    width: 3rem;
    height: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--color-surface-panel);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
}

.small-canvas__header-menu-button-line {
    width: 1rem;
    height: 0.2rem;
    border-radius: .2rem;
    background-color: var(--color-accent);
}

.small-canvas__header-logo {
    width: 5.5rem;
    height: 1.9rem;
}

.small-canvas__header-droplet-icon {
    width: 2.1rem;
    height: 2.8rem;
}