.page__sidebar {
    position: relative;
    width: var(--static-sidebar-width);
    flex: 0 0 var(--static-sidebar-width);
    background-image: url('../images/sidebar-texture.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto 2.5rem;
}

.navigation__item+.navigation__item {
    margin-top: 1rem;
}

.navigation__link {
    display: inline-block;
    text-decoration: none;
    font-size: 3.4rem;
    font-weight: 550;
    letter-spacing: 0;
    font-family: 'Plus Jakarta Sans';
    color: white;
}

.navigation__item_group_1 {
    color: white;
}

.navigation__item_group_2 {
    color: #464646;
    opacity: .4;
}

.navigation__link,
.navigation__link:visited {
    color: inherit;
}

.navigation__link.navigation__link_state_active {
    color: var(--color-chat-surface);
}

.page__workspace {
    position: relative;
    width: calc(var(--static-frame-width) - var(--static-sidebar-width));
    height: 100dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navigation__divider {
    height: 2rem;
}

.page__logo {
    height: 1.9rem;
}

.page__droplet-icon {
    width: 2.1rem;
    height: 2.8rem;
}

.page__header {
    padding: 1.6rem 2.7rem;
    display: flex;
    justify-content: space-between;
}

.page__content {
    padding-top: 3.6rem;
}

.page {
    position: relative;
    width: var(--static-frame-width);
    height: var(--static-frame-height);
    display: flex;
    overflow: hidden;
    background: var(--color-chat-surface);
}