.vault-page__content {
    padding: 9.6rem 2rem;
    display: flex;
    gap: 2.2rem;
    justify-content: center;
    overflow-y: auto;
}

.vault-page__section {
    width: 23.6rem;
    min-width: 23.6rem;
}

.vault-page__drop-description::after {
    content: "Drag your files here";
}

.vault-page__section-title {
    margin-bottom: 1.5rem;
    color: var(--color-accent);
}

.vault-page__section-description {
    color: var(--white-50);
}

.vault-page__drop-area {
    width: min(86.2rem, 100%);
    height: 50.5rem;
    border-radius: 2rem;
    border: .1rem dashed var(--white-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vault-page__drop-figure {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .1rem solid var(--color-text-primary);
    margin-bottom: 1.5rem;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
}

.vault-page__browse-button {
    margin-top: 1.5rem;
    background-color: var(--color-text-muted);
    padding: 1rem 1.1rem;
}

@media screen and (max-width: 1200px) {
    .vault-page__content {
        padding: 1rem 1rem 10rem;
        display: block;
    }

    .vault-page__section {
        width: 100%;
        max-width: 100%;
        margin-bottom: 4rem;
    }

    .vault-page__drop-description::after {
        content: "Add content";
    }

    .vault-page__browse-button {
        display: none;
    }

    .vault-page__drop-area {
        width: 100%;
        height: unset;
        padding: 4.1rem;
    }

    .vault-page__drop-figure {
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: var(--color-accent);
        background-image: url("../images/plus.svg");
        background-size: 1.4rem;
    }

    .vault-page__drop-description {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}