.vault-page__content {
    padding: 9.6rem 2rem;
    display: flex;
    column-gap: 2.2rem;
    justify-content: center;
    overflow-y: auto;
}

.vault-page__section {
    width: 23.6rem;
}

.vault-page__section-title {
    margin-bottom: 1.5rem;
    color: var(--color-accent);
}

.vault-page__section-description {
    color: var(--white-50);
}

.vault-page__drop-icon {
    width: 3rem;
    height: 3rem;
}

.vault-page__drop-area {
    width: 86.2rem;
    height: 50.5rem;
    border-radius: 2rem;
    border: .1rem dashed var(--white-50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vault-page__drop-figure {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .1rem solid var(--color-text-primary);
    margin-bottom: 1.5rem;
}

.vault-page__drop-description {
    margin-bottom: 1.5rem;
}

.vault-page__browse-button {
    background-color: var(--color-text-muted);
    padding: 1rem 1.1rem;
}